<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" /> {% load static %}
        <link rel="stylesheet" href="{% static 'recipe/css/normalize.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'recipe/css/style.css' %}" type="text/css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/025746aad5.js" crossorigin="anonymous"></script>
        <title>My cooking recipe</title>
    </head>

    <body>
        <header>
            <img class="picture" src="{% static 'recipe/images/salad.jpg' %}" alt="Salad" />
            <h1 class="main-title">Salad</h1>
            <p class="description"> Delicious flavored salad ! </p>
        </header>
        <main>
            <section>
                <h2 class="subtitle">Overview</h2>
                <dl class="features">
                    <dt class="feature-picture">
                        <div class="rate">
                            <i class="fa-solid fa-star fa-2xs"></i>
                            <i class="fa-solid fa-star fa-2xs"></i>
                            <i class="fa-solid fa-star-half-stroke fa-2xs"></i>
                            <i class="fa-regular fa-star fa-2xs"></i>
                            <i class="fa-regular fa-star fa-2xs"></i>
                        </div>
                    </dt>
                    <dd class="feature">Difficulty</dd>
                    <dt class="feature-picture feature-picture-decoration"> 7€ </dt>
                    <dd class="feature">Cost</dd>
                    <dt class="feature-picture feature-picture-decoration"> 45min </dt>
                    <dd class="feature">Preparation time</dd>
                    <dt class="feature-picture feature-picture-decoration"> 0min </dt>
                    <dd class="feature">Cooking time</dd>
                    <dt class="feature-picture feature-picture-decoration"> 20min </dt>
                    <dd class="feature">Resting time</dd>
                </dl>
            </section>
            <section>
                <h2 class="subtitle">Ingredients</h2>
                <form method="post" action="{% url 'index' %}" novalidate> {% csrf_token %} <div class="item-handler">
                        Servings: <button type="button" class="less-item" name="minus" value="minus">-</button>
                        <span>{{ ingredients|length }}</span>
                        <button class="more-item" name="plus" value="plus">+</button>
                    </div>
                    <table>
                        <caption class="table-legend">List of the recipe ingredients. Fill fields and click on plus
                            button to add ingredient to your recipe ! Click on minus button to remove it !</caption>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>{{ form.name.label_tag }}</th>
                                <th>{{ form.quantity.label_tag }}</th>
                                <th>{{ form.metric.label_tag }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>{{ form.name }}</td>
                                <td>{{ form.quantity }}</td>
                                <td>{{ form.metric }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>{{ form.name.errors }}</td>
                                <td>{{ form.quantity.errors }}</td>
                                <td>{{ form.metric.errors }}</td> 
                            {% for ingredient in ingredients %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ ingredient.ingredient }}</td>
                                <td>{{ ingredient.quantity }}</td>
                                <td>{{ ingredient.unit }}</td>
                            </tr> 
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </section>
        </main>
    </body>

</html>